Projektaufgabe/Connected Services/ServiceReference1/Projektaufgabe_WCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hasVersion">
        <xs:sequence>
          <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="hasVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hasVersion" nillable="true" type="tns:hasVersion" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfBusinessUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessUnit" nillable="true" type="tns:BusinessUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessUnit" nillable="true" type="tns:ArrayOfBusinessUnit" />
  <xs:complexType name="BusinessUnit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hasVersion">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BusinessUnit" nillable="true" type="tns:BusinessUnit" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hasVersion">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessUnit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BusinessUnitId" type="xs:int" />
          <xs:element minOccurs="0" name="EmployeeNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Salutation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
  <xs:complexType name="Vehicle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hasVersion">
        <xs:sequence>
          <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Insurance" type="xs:decimal" />
          <xs:element minOccurs="0" name="LeasingFrom" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LeasingRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="LeasingTo" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LicensePlate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
  <xs:complexType name="ArrayOfVehicleToEmployeeRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleToEmployeeRelation" nillable="true" type="tns:VehicleToEmployeeRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleToEmployeeRelation" nillable="true" type="tns:ArrayOfVehicleToEmployeeRelation" />
  <xs:complexType name="VehicleToEmployeeRelation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:hasVersion">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="VehicleId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VehicleToEmployeeRelation" nillable="true" type="tns:VehicleToEmployeeRelation" />
  <xs:complexType name="ArrayOfMonthlyCost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonthlyCost" nillable="true" type="tns:MonthlyCost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonthlyCost" nillable="true" type="tns:ArrayOfMonthlyCost" />
  <xs:complexType name="MonthlyCost">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Month" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonthlyCost" nillable="true" type="tns:MonthlyCost" />
  <xs:complexType name="ArrayOfMonthlyBusinessUnitCost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonthlyBusinessUnitCost" nillable="true" type="tns:MonthlyBusinessUnitCost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonthlyBusinessUnitCost" nillable="true" type="tns:ArrayOfMonthlyBusinessUnitCost" />
  <xs:complexType name="MonthlyBusinessUnitCost">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessUnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Month" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonthlyBusinessUnitCost" nillable="true" type="tns:MonthlyBusinessUnitCost" />
</xs:schema>