Projektaufgabe/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" />
  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="LoginUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="GetUsersResult" nillable="true" type="q2:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessUnits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="GetBusinessUnitsResult" nillable="true" type="q3:ArrayOfBusinessUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q4:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="GetVehiclesResult" nillable="true" type="q5:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesForVehicleTab">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licensePlate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesForVehicleTabResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="GetEmployeesForVehicleTabResult" nillable="true" type="q6:ArrayOfVehicleToEmployeeRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesForNewVehicleRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licensePlate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesForNewVehicleRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="GetEmployeesForNewVehicleRelationResult" nillable="true" type="q7:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthlyCosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthlyCostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="GetMonthlyCostsResult" nillable="true" type="q8:ArrayOfMonthlyCost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="NewUserResult" nillable="true" type="q9:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewBusinessUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewBusinessUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="NewBusinessUnitResult" nillable="true" type="q10:BusinessUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBusinessUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBusinessUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBusinessUnitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBusinessUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBusinessUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBusinessUnitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="salutation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessUnitId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="NewEmployeeResult" nillable="true" type="q11:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="newEmployeeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="salutation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessUnitId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licensePlate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="insurance" type="xs:decimal" />
        <xs:element minOccurs="0" name="leasingFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="leasingTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="leasingRate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="NewVehicleResult" nillable="true" type="q12:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licensePlate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVehicleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licensePlate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newLicensePlate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="insurance" type="xs:decimal" />
        <xs:element minOccurs="0" name="leasingFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="leasingTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="leasingRate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewVehicle2EmployeeRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="licensePlate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewVehicle2EmployeeRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Projektaufgabe_WCF" minOccurs="0" name="NewVehicle2EmployeeRelationResult" nillable="true" type="q13:VehicleToEmployeeRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicle2EmployeeRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licensePlate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicle2EmployeeRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVehicle2EmployeeRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>